apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: training-data
  namespace: cse239fall2025
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 50Gi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: training-outputs
  namespace: cse239fall2025
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 50Gi
